/* got this from coolors.co - please improve!
 https://coolors.co/b5d6b2-53131e-5a464c-fffacc-ffefbd
*/

body
{
	font-family: georgia;
	color: #da8989 ;
	background-color: #383737;
	margin-left: 75px;
	margin-right: 75px;
}

table
{
    border-collapse: collapse;
    margin: 50px;
}

button{
	background-color:rgb(0, 0, 0);
	color:rgb(175, 159, 152)
}

thead
{
    background-color: rgb(114, 1, 1);
}
th, td
{
    border: 1px solid rgb(252, 252, 252);
    padding: .2em 1em .2em .5em;
    text-align: left;
    vertical-align: middle;
}
.right{text-align: right;
}
tbody tr:nth-child(odd) td
{
    background-color: rgb(165, 65, 65);
}

header, footer
{
	text-align: center;
	color: whitesmoke;
	font-weight: bold;
}

h1, h2, h3
{
	color: whitesmoke;
	font-family: georgia;
	text-align: center;
}

h3
{
	font-size: 200%;
	line-height: 0px;
}

a
{
	text-decoration: none;
	color: #cc4b4b;
}

a:hover
{
	text-decoration: overline underline;
}

figure
{
	text-align: center;
}

figcaption
{
	font-style: italic;
}

input[type=submit] {
	width: 100%;
	background-color: #cf5a5a;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }
  
  input[type=submit]:hover {
	background-color: #9c9c9c;
  }

  input[type=text], select {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid rgb(45, 53, 100);
	border-radius: 4px;
	box-sizing: border-box;
  }

  input[type=text] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid rgb(48, 54, 88);
	border-radius: 4px;
	box-sizing: border-box; 
  }
  label {
	padding: 12px 12px 12px 0;
	display: inline-block;
  }


nav
{
	text-align: center;
}

.calculator {
	border-radius: 12px;
	
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
	max-width: 15em;
	overflow: hidden;
  }
  
  .calculator__display {
	background-color: #6e0e5e;
	
	font-size: 1.714285714em;
	padding: 0.5em 0.75em;
	text-align: right;
  }
  
  .calculator__keys {
	
	display: grid;
	grid-gap: 0px;
	grid-template-columns: repeat(4,1fr);
  }
  
  .calculator__keys > * {
	
	padding: 0.5em 1.25em;
	position: relative;
	text-align: center;
  }
  
  .calculator__keys > *:active::before,
  .calculator__keys > .is-depressed::before {
	background-color: rgba(255, 255, 255, 0.2);
	bottom: 0;
	box-shadow: 0 0 6px 0 rgba(211, 34, 211, 0.5) inset;
	content: "";
	left: 0;
	opacity: 0.3;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
  }
  
  [data-type ='operator'] {
	background-color: #e981c6;
  }
  
  .equal {
	background-image: linear-gradient(to bottom, #e77df5, #e760dc);
	grid-column: -2;
	grid-row: 2 / span 4;
  }
  [data-state="selected"]{
	  background-color: rgb(74, 5, 92);
  }

  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  }

  .bxslider {
	position: relative;
	left: calc(50% + 20px);
 } 
 .images-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    min-height: 100vh;
    grid-gap: 1rem;
}

.images-wrapper .img-cont {
    overflow: hidden;
}

.images-wrapper .img-cont img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.images-wrapper .img-cont img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.full-image-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0rem 1rem;
    opacity: 0;
    pointer-events: none;
}

.full-image-container .full-image {
    width: 600px;
    max-width: 100%;
    min-height: 50vh;
    -o-object-fit: cover;
    object-fit: cover;
}

.full-image-container .image-title {
    color: #ffffff;
    background: #ff6464;
    border-radius: 12px;
    padding: 0.5rem 1rem;
    text-transform: capitalize;
}

.full-image-container.open {
    opacity: 1;
    pointer-events: all;
}